<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>商品推广后台</title>

<link rel="stylesheet" type="text/css" th:href="@{/web/assets/css/bootstrap.min.css}">

<link rel="stylesheet" type="text/css" th:href="@{/web/assets/fonts/line-icons.css}">

<link th:href="@{/web/assets/plugins/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/web/assets/plugins/datatables/buttons.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/web/assets/plugins/datatables/responsive.bootstrap4.min.css}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" th:href="@{/web/assets/css/main.css}">

<link rel="stylesheet" type="text/css" th:href="@{/web/assets/css/responsive.css}">
</head>
<body>
<div class="app header-default side-nav-dark">
 <div class="layout">

  <div class="header navbar">
   <div class="header-container">
    <div class="nav-logo">
     <a href="index.html">
      <b><img th:src="@{/web/assets/img/logo.png}" alt=""></b>
      <span class="logo">
                            <img th:src="@{/web/assets/img/logo-text.png}" alt="">
                        </span>
     </a>
    </div>
    <ul class="nav-left">
     <li>
      <a class="sidenav-fold-toggler" href="javascript:void(0);">
       <i class="lni-menu"></i>
      </a>
      <a class="sidenav-expand-toggler" href="javascript:void(0);">
       <i class="lni-menu"></i>
      </a>
     </li>
    </ul>
    <ul class="nav-right">
     <li class="search-box">
      <input class="form-control" type="text" placeholder="Type to search...">
      <i class="lni-search"></i>
     </li>
     <li class="massages dropdown dropdown-animated scale-left">
      <span class="counter">3</span>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
       <i class="lni-envelope"></i>
      </a>
      <ul class="dropdown-menu dropdown-lg">
       <li>
        <div class="dropdown-item align-self-center">
         <h5><span class="badge badge-primary float-right">745</span>Messages</h5>
        </div>
       </li>
       <li>
        <ul class="list-media">
         <li class="list-item">
          <a href="#" class="media-hover">
           <div class="media-img">
            <img th:src="@{/web/assets/img/users/avatar-1.jpg}" alt="">
           </div>
           <div class="info">
            <span class="title">Amanda Robertson</span>
            <span class="sub-title">Dummy text of the printing and typesetting industry.</span>
           </div>
          </a>
         </li>
         <li class="list-item">
          <a href="#" class="media-hover">
           <div class="media-img">
            <img th:src="@{/web/assets/img/users/avatar-2.jpg}" alt="">
           </div>
           <div class="info">
            <span class="title">Danny Donovan</span>
            <span class="sub-title">It is a long established fact that a reader will</span>
           </div>
          </a>
         </li>
         <li class="list-item">
          <a href="#" class="media-hover">
           <div class="media-img">
            <img th:src="@{/web/assets/img/users/avatar-3.jpg}" alt="">
           </div>
           <div class="info">
            <span class="title">Frank Handrics</span>
            <span class="sub-title">You have 87 unread messages</span>
           </div>
          </a>
         </li>
        </ul>
       </li>
       <li class="check-all text-center">
        <span><a href="#" class="text-gray">View All</a></span>
       </li>
      </ul>
     </li>
     <li class="notifications dropdown dropdown-animated scale-left">
      <span class="counter">2</span>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
       <i class="lni-alarm"></i>
      </a>
      <ul class="dropdown-menu dropdown-lg">
       <li>
        <h5 class="n-title text-center">
         <i class="lni-alarm"></i>
         <span>Notifications</span>
        </h5>
       </li>
       <li>
        <ul class="list-media">
         <li class="list-item">
          <a href="#" class="media-hover">
           <div class="media-img">
            <div class="icon-avatar bg-primary">
             <i class="lni-envelope"></i>
            </div>
           </div>
           <div class="info">
            <span class="title">5 new messages</span>
            <span class="sub-title">4 min ago</span>
           </div>
          </a>
         </li>
         <li class="list-item">
          <a href="#" class="media-hover">
           <div class="media-img">
            <div class="icon-avatar bg-success">
             <i class="lni-comments-alt"></i>
            </div>
           </div>
           <div class="info">
            <span class="title">4 new comments</span>
            <span class="sub-title">12 min ago</span>
           </div>
          </a>
         </li>
         <li class="list-item">
          <a href="#" class="media-hover">
           <div class="media-img">
            <div class="icon-avatar bg-info">
             <i class="lni-users"></i>
            </div>
           </div>
           <div class="info">
            <span class="title">3 Friend Requests</span>
            <span class="sub-title">a day ago</span>
           </div>
          </a>
         </li>
         <li class="list-item">
          <a href="#" class="media-hover">
           <div class="media-img">
            <div class="icon-avatar bg-purple">
             <i class="lni-comments-alt"></i>
            </div>
           </div>
           <div class="info">
            <span class="title">2 new messages</span>
            <span class="sub-title">12 min ago</span>
           </div>
          </a>
         </li>
        </ul>
       </li>
       <li class="check-all text-center">
        <span><a href="#" class="text-gray">Check all notifications</a></span>
       </li>
      </ul>
     </li>
     <li class="user-profile dropdown dropdown-animated scale-left">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
       <img class="profile-img img-fluid" th:src="@{/web/assets/img/avatar/avatar.jpg}" alt="">
      </a>
      <ul class="dropdown-menu dropdown-md">
       <li>
        <ul class="list-media">
         <li class="list-item avatar-info">
          <div class="media-img">
           <img th:src="@{/web/assets/img/avatar/avatar.jpg}" alt="">
          </div>
          <div class="info">
           <span class="title text-semibold">Tomas Murray</span>
           <span class="sub-title">UI/UX Desinger</span>
          </div>
         </li>
        </ul>
       </li>
       <li role="separator" class="divider"></li>
       <li>
        <a href="#">
         <i class="lni-cog"></i>
         <span>Setting</span>
        </a>
       </li>
       <li>
        <a href="#">
         <i class="lni-user"></i>
         <span>Profile</span>
        </a>
       </li>
       <li>
        <a href="#">
         <i class="lni-envelope"></i>
         <span>Inbox</span>
         <span class="badge badge-pill badge-primary pull-right">2</span>
        </a>
       </li>
       <li>
        <a href="#">
         <i class="lni-lock"></i>
         <span>Logout</span>
        </a>
       </li>
      </ul>
     </li>
    </ul>
   </div>
  </div>

  <div class="swlink">Collect from <a href="http://www.scnoob.com/" title="网站模板">商品推广</a></div>
  <div class="side-nav expand-lg">
   <div class="side-nav-inner">
    <ul class="side-nav-menu">
     <li class="side-nav-header">
      <span>分销管理系统</span>
     </li>


     <li class="nav-item dropdown open">
      <a href="#" class="dropdown-toggle">
       <span class="icon-holder"><i class="lni-dashboard"></i></span>
       <span class="title">商品管理</span>
       <span class="arrow"><i class="lni-chevron-right"></i></span>
      </a>
      <ul class="dropdown-menu sub-down">
       <li class="active">
        <a href="basic-table.html">商家列表</a>
        <a href="basic-table.html">商品列表</a>
       </li>
      </ul>
     </li>

     <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="#">
       <span class="icon-holder"><i class="lni-control-panel"></i></span>
       <span class="title">订单管理</span>
       <span class="arrow"><i class="lni-chevron-right"></i></span>
      </a>
      <ul class="dropdown-menu sub-down">
       <li>
        <a href="basic-table.html">推荐订单</a>
        <a href="basic-table.html">下级订单</a>
       </li>
      </ul>
     </li>
     <li class="nav-item dropdown">
      <a class="dropdown-toggle" href="#">
       <span class="icon-holder"><i class="lni-control-panel"></i></span>
       <span class="title">用户管理</span>
       <span class="arrow"><i class="lni-chevron-right"></i></span>
      </a>
      <ul class="dropdown-menu sub-down">
       <li>
        <a href="basic-table.html">用户列表</a>
        <a href="basic-table.html">下级用户</a>
        <a href="basic-table.html">我的上级</a>
       </li>
      </ul>
     </li>


    </ul>
   </div>
  </div>


<div class="page-container">

<div class="main-content">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header border-bottom">
<h4 class="card-title">商品列表</h4>
</div>
<div class="card-body">
<div class="table-responsive">
<table id="datatable" class="table table-bordered">
 <thead>
 <tr>
  <th>商品编号</th>
  <th>商品名称</th>
  <th class="text-center">商品状态</th>
  <th class="text-center">操作</th>
 </tr>
 </thead>
 <tbody>
 <tr th:each="product:${products}">
  <th scope="row" th:text="${product.id}"></th>
  <td th:text="${product.name}"></td>
  <td th:switch="${product.isEffect}" class="text-center">
   <span th:case="'0'">未上架</span>
   <span th:case="'1'">售卖中</span>
   <span th:case="'2'">已下架</span>
  </td>
  <td th:switch="${product.isEffect}" class="text-center">
   <a th:href="@{/admin/product/sellOrSold(type=0,id=${product.id})}" th:case="'0'">上架</a>
   <a th:href="@{/admin/product/sellOrSold(type=1,id=${product.id})}" th:case="'1'">下架</a>
   <a th:href="@{/#}">修改</a>
  </td>
 </tr>
 </tbody>
</table>
</div>
</div>
</div>
</div> 
</div> 

</div>



</div>

</div>
</div>

<div id="preloader">
<div class="loader" id="loader-1"></div>
</div>


<script th:src="@{/web/assets/js/jquery-min.js}"></script>
<script th:src="@{/web/assets/js/popper.min.js}"></script>
<script th:src="@{/web/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/web/assets/js/jquery.app.js}"></script>
<script th:src="@{/web/assets/js/main.js}"></script>

<script th:src="@{/web/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/dataTables.bootstrap4.min.js}"></script>

<script th:src="@{/web/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/buttons.colVis.min.js}"></script>

<script th:src="@{/web/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/web/assets/plugins/datatables/responsive.bootstrap4.min.js}"></script>

<script th:src="@{/web/assets/js/datatables.init.js}"></script>
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
</html>